h2 {
    margin-top: 71px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 120%;

    @media only screen 
    and (device-width : 375px) 
    and (device-height : 667px) 
    and (-webkit-device-pixel-ratio : 2) {
        margin-top: 0;
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 120%;
        text-align: left;
    }
}